<div class="span8">
	
	<% safe('No Content has been added yet'){%>
	<% model.sections.where{|section| section.page_ref.include? @current_page}.each do |section|%>
	<div class="alert alert-success">
      <span>
		<%=section.tip%>
      </span>
    </div>

    <h2><%=section.sectiontitle%></h2>
    <div>
      <%=section.content%>
    </div>

	<%end%>
	
	<% if @current_page == 'blog_archive' %>
	<% model.blogposts.all.each do |blogpost|%>
		<% safe('No Content has been added yet'){%>
	   	<div class="well">
		<h3><a href="/post/<%=blogpost.alias%>"><%=blogpost.title%></a></h3>
	    <div>
	      <%=blogpost.teaser%>
	    </div>
		<%}%>
		</div>
	<% end %>
	<% end%>
	<%}%>
</div>
