<% document('pages','home-page') %>

<h1><%=pages.name %></h1>
<h3><%=pages.maintitle %></h3>
<p><%=pages.introparagraph %></p>
<p><%=pages.column1 %></p>
<img src="<%=pages.image1 %>" />
<p><%=pages.column2 %></p>
<p><%=pages.sidebartext %></p>
<p><%=pages.tags %></p>