<div class="activity-feed">
    <h1>Latest project activity</h1>

	<!-- 
		WARNING: 
		THESE ARE ONLY EXAMPLES AND WONT WORK WITHOUT THE PROPER DATA 
		
		-->

    <ol class="items">
		<%document('twitter','rebel_cms_twitterfeed').linked_documents.each do |feed|%>
			<% if feed.document && feed.document.results && feed.document.results.length > 0 %>
				<% feed.document.results.each do |result|%>
				 <li class="item twitter">
			            <p class="content"><a href="https://twitter.com/<%=result.from_user%>">@<%=result.from_user%></a>  <%=result.text%></p>
			            <p class="posted"><a href="#"><%=result.created_at%></a></p>
			        </li>
				<% end %>
			<% end %>
		<% end%>
		
		<%documents('posts').each do |blogpost|%>
        <li class="item blog">
            <p class="content"><strong>From the Blog:</strong> <a href="#"><%=blogpost.name%></a><br /> <%=blogpost.teaser%></p>
            <p class="posted"><a href="#">1 hour ago</a></p>
        </li>		
		<%end%>
		
    </ol>
</div>

<article class="project-summary">
    <h2>Project summary</h2>
    <h3 class="summary">Koda CMS is a powerful and robust content management system.</h3>
    <p class="description">Built from the ground up to cater for today's enterprise level needs, this open-source project is at the bleeding edge of web content management. Interested? <a href="https://github.com/organizations/KodaCMS" class="learn-more">Learn more</a></p>
</article>

<article class="blog-latest">
    <h2>Blog latest</h2>
	<% post = documents('posts').first() %>
    <p class="timestamp"><time datetime="2012-07-38">28<sup>th</sup> August</time></p>
    <h3 class="title"><a href="#"><%=post.name%></a></h3>
    <p class="snippet"><%=post.teaser%></p>
</article>