<!doctype html>
<html>
  
  <head>
    <title><%=@title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css"> 
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Welcome</a>
		  <%=render_partial '/partials/nav-bar' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header">
        <h1><%=model.generic.welcome_header.content%></h1>
      </div>
      <div class="row">
        <div class="span4">
			<%=render_partial '/partials/info-block' %>
			<%=render_partial '/partials/authors' %>
        </div>
		<%=yield%>
      </div>
    </div>
  </body>

</html>
