<div class="span8">
	<% post = model.blogposts.single{|post| post.alias == @current_page}%>
    <h2><%=post.title%></h2>

	<h4><%=post.teaser%></h4>
    <div>
      <%=post.content%>
    </div>
	<div class="well">
		<% author = model.authors.by_ref(post.author_ref) %>
		<h4><%=author.name%></h4>
		<div class="bio"><%=author.bio%></div>
		<%if author.authorphoto %>
		<img src="<%=author.authorphoto %>" />
		<% end %>
	</div>
</div>
